@import '../../../utils/vars.css';

.logo {
  font-size: 24px;
  font-family: system-ui;
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 50px;
}

.login__input {
  margin-bottom: 25px;
}

.login__button {
  margin-bottom: 25px;
}

.link {
  width: 100%;
}
