:root {
  /*colors*/
  --black: #000000;
  --white: #ffffff;
  --orange: #ff6d70;
  --light-orange: #ff8b2c;
  --grey: #444444;
  /*dimensions*/
  --radius: 40px;
  --small: 14px;
  --medium: 16px;
  --large: 18px;
}